
<label> Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<!-- está função basicamente muda o nome do input em todas os outros inputs -->


<!-- já está com [(ngModel)] = "serverName" é aplicando o Two-Way-Databinding que reagem em ambas dire -->
<input type="text" 
    class="form-control" 
    [(ngModel)]="serverName">

<button class="btn btn-primary" 
    [disabled] = "!allowNewServer" 
    (click) = "OnCreateServer()"> Add Server</button>



<!-- <p> {{ serverCreationStatus }}</p> -->
 
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>


<app-server *ngFor="let server of servers"></app-server>

